body {
  background-image: url('https://res.cloudinary.com/tonythetiger323/image/upload/e_blur:1196/v1550544815/MayThe4thBeRusso/Background Image/sean-o-406693-unsplash.jpg');
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
