# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules
/server/node_modules

/.pnp
.pnp.js

# testing
/.nyc_output/
/coverage/
/client/coverage
/client/.nyc_output
/server/coverage
/server/.nyc_output
/test-results/
/client/test-results/
/server/test-results/


*.old

# production
/client/build
/server/dist

# workspace file
MayThe4thBeRussov2.code-workspace

# ssl certificate
www.maythe4thberusso.com/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
development.env
test.env
production.env
ormconfig.json

npm-debug.log*

