body {
  background-image: url('https://res.cloudinary.com/tonythetiger323/image/upload/v1550544815/MayThe4thBeRusso/Background%20Image/sean-o-406693-unsplash.jpg');
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center center;
}
